{{- if .business_use }}
[user]
  email = {{ .work_email }}
  useConfigOnly = true
[core]
  hooksPath = {{ .chezmoi.homeDir }}/.fdev-git-hooks
[url "git@github.com:"]
  insteadOf = https://github.com/
{{- end }}
